:root {
  --selection-color: #377FD5;
  --sub-selection-color: #C1EBF4;
}

html, body {
  position: relative;
  overflow-x: hidden;
  font-family: "Cabin", sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;

  background-color: var(--workspace-bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li { list-style-type: none; }

hr {
  display: block;
  box-sizing: content-box;
  height: 0;
  border: 0;
  overflow: visible;
  border-top: 2px solid whitesmoke;
  margin: 24px 0;
}

input {font: inherit;margin: 0;}
input:focus, textarea:focus {outline: none;}
input::-webkit-inner-spin-button {-webkit-appearance: none;}

input[type="text"] {
  background-color: transparent;
  border: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

*:not(textarea),
*:not([contenteditable=true]),
*:not(input) {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

img {
  max-width: 100%;
  max-height: 100%;
  border-style: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

i {
  cursor: pointer;
}

/* global class */

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.neumorphism-container {
  border-radius: 12px;
  padding: 24px;
  box-shadow:  20px 20px 40px #d9d9d9, 
             -20px -20px 40px #ffffff;
}

.fansy-drop-shadow {
  position: relative;
  box-shadow: -1rem 1rem 0 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 32px;
}

.fansy-drop-shadow::after {
  content: "";
  position: absolute;
  top: -2rem;
  right: -20rem;
  bottom: -2rem;
  left: 2rem;
  z-index: -1;
  opacity: 0.6;
  mix-blend-mode: multiply;
  background:     repeating-linear-gradient( 0deg, transparent, transparent 2px, #fff 2px, #fff 10px ),
                  repeating-linear-gradient( -90deg, #660FFC, #1109DA 2px, #fff 2px, #fff 10px );
}

/* auto web */

header {
  height: 200px;
  color: white;
  padding: 16px;
  text-align: center;
  position: relative;

  background-image: url("./img/vector1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  max-width: 1200px;
  margin: 6px auto;
  min-height: calc(100vh - 312px);
}

footer {
  text-align: center;
  padding: 8px;
}

/* main-app */

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-text {
  font-size: 54px;
  font-weight: bold;
}

.app-container {
  margin-top: 0 auto;
  padding: 12px;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 1000px;
}

#gpa-display-box {
  min-height: 60vh;
}

#gpa-display-pretext {

}

#gpa-display-text {
  font-size: 7rem;
  font-weight: bold;
  text-shadow:  -6px 6px 0px #d9d9d9;
}

#gpa-display-credit {
  font-size: large;
}

/* box */

#list-display-box {
  display: grid;
  gap: 16px;
  grid-template-rows: auto 1fr auto;
}

.course-header-text {
  font-size: 24px;
  font-weight: bold;
}

#error-text {
  font-size: small;
  color: red;
  padding: 0 8px;
}

#list-container {
  position: relative;
  overflow: auto;
}

#list-container > *:not(:first-child) {
  margin-top: 8px;
}

#list-container:empty:before {
  content: "– Empty Course List –";
  position: absolute;
  margin: 16px 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  color: gainsboro;
}

/* subject-list */

.course-list {
  display: grid;
  grid-template-columns: 1fr 64px 24px;
  padding: 8px;
  border: 1px solid whitesmoke;
  border-radius: 6px;
}

.course-name-container {
  display: flex;
  align-items: center;
}

.course-name {
  font-weight: bold;
  font-size: 16px;
}

.course-id {
  color: grey;
  font-size: small;
}

.course-grade-contaienr {
  position: relative;
}

.course-grade {
  font-weight: bold;
  font-size: xx-large;
}

.course-credit {
  position: absolute;
  bottom: 0;
  font-weight: normal;
  font-size: 20px;
  display: inline;
}

.course-delete-icon {
  transition: 0.3s;
}

.course-delete-icon:hover {
  color: red;
}

/* course-create-box */

#course-create-box {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 36px;
  border-radius: 6px;
  border: 1px solid whitesmoke;
}

#course-create-box > aside:not(:last-child) {
  border-right:  1px solid whitesmoke;
}

#course-input-align-1 {
  display: grid;
  grid-template-columns: 124px 1fr;
  padding: 4px 0;
  border-bottom: 1px solid whitesmoke;
}

#course-input-align-2 {
  display: grid;
  grid-template-columns: 120px 1fr;
  padding: 4px 0;
}

#create-credit-selector {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

#create-credit-selector > * {
  color: white;
  background-color: black;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 6px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#create-grade-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

#create-grade-selector > * {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.f-icon { background-color: hsl(0, 0%, 65%); }
.w-icon { background-color: hsl(200, 65%, 65%); }
.d-icon { background-color: hsl(0, 65%, 65%); }
.dp-icon { background-color: hsl(20, 65%, 65%); }
.c-icon { background-color: hsl(40, 65%, 65%); }
.cp-icon { background-color: hsl(60, 65%, 65%); }
.b-icon { background-color: hsl(80, 65%, 65%); }
.bp-icon { background-color: hsl(100, 65%, 65%); }
.a-icon { background-color: hsl(120, 65%, 65%); }

#create-grade-selector > *.sel,
#create-credit-selector > *.sel {
  box-shadow: 0 0 0 2px var(--selection-color), 0 0 1px 4px var(--sub-selection-color);
}

#create-btn {
  transition: 0.3s;
  cursor: pointer;
}

#create-btn:hover {
  background: whitesmoke;
}